@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .palt {
    font-feature-settings: 'palt';
  }
}

.text-h {
  font-size: clamp(20px, 2.5vw, 32px);
  font-height: clamp(32px, 3.75vw, 48px);
}

.text-hb {
  font-size: clamp(24px, 3.75vw, 48px);
  font-weight: 600;
}

.text-btn {
  font-size: clamp(18px, 2vw, 24px);
  border-width: 4px;
}
/* 先月・次月*/
.text-month {
  font-size: clamp(16px, 2vw, 24px);
}

/* 投稿見出し */
.text-posth {
  font-size: clamp(14px, 1.75vw, 20px);
}

/* 投稿所属 */
.text-postd {
  font-size: clamp(12px, 1.5vw, 16px);
}

.pt-h {
  padding-top: clamp(20px, 2.5vw, 32px);
}

.pt-2h {
  padding-top: clamp(40px, 5vw, 64px);
}

.pb-2h {
  padding-bottom: clamp(40px, 5vw, 64px);
}

.arrow {
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  color: #fff;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
}
.arrow::before,
.arrow::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: '';
  vertical-align: middle;
}

.sample5-3::before {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
}
.sample5-3::after {
  left: 6px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #f5b42b;
  border-right: 2px solid #f5b42b;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sample5-4::before {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
}
.sample5-4::after {
  left: 8px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #f5b42b;
  border-right: 2px solid #f5b42b;
  -webkit-transform: rotate(45deg);
  transform: rotate(225deg);
}
